/* regole generali  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
}

/* regole header */
#layover{
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
}

header h1 {
    color: #e43a7d;
    font-weight: 900;
    margin-top: 20px;
}

header p {
    margin-top: 30px;
}

/* regole main */
main {
    margin-top: 30px;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

.card {
    width: calc((100% / 3) - 44px);
    background-color: #0f0e17;
    margin: 20px;
    box-shadow: 2px 2px 2px #888888;
    float: left;
    color: white;
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

.picture img {
    width: 100px;
    float: left;
    margin-right: 20px;
}

.info {
    padding: 20px;
}

.name {
    font-weight: 900;
}

.e-mail {
    color: #3191c1;
}